.wrapper{
    margin: 40px 0;
}

.wrapper h2{
    font-size: 20px;
}

.inputWrapper{
    margin-bottom: 20px;
}

.inputWrapper label{
    display: block;
    margin-bottom: 4px;
}

.inputWrapper input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}