.homeWrapper{
    margin-bottom: 40px;
}

.homeWrapper h2{
    margin-top: 60px;
    font-size: 20px;
}

.homeWrapper .articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homeWrapper .articles a{
    width: 24%;
}