body {
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 160px;
  text-align: right;
}

.d-flex{
  display: flex;
} 

.align-items-center{
  align-items: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}

a{
  text-decoration: none;
  color: #333;
}